html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
a img { border: none; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { margin: 0; padding: 0; border: 0; outline: 0; display: block; }
body, textarea { font: 12.5px/18px "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5 { font-weight: 300; color: black; display: block; clear: both; }
h1 { font-size: 24px; line-height: 26px; margin: 18px 0 2px 0; }
h2 { font-size: 18px; line-height: 22px; margin: 14px 0 8px 0; }
h3 { font-size: 14px; line-height: 18px; margin: 13px 0 2px 0; }
h4 { font-size: 13px; line-height: 16px; margin: 13px 0 2px 0; }
h4 { font-size: 12px; line-height: 14px; margin: 13px 0 2px 0; }
h5 { font-size: 11px; line-height: 12px; margin: 13px 0 2px 0; }
code { font-family: "Menlo", monospace; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
