body { background: #f6f6e6; color: #333333; padding: 45px 0 10px 0; margin: 0; }
body > header { -moz-box-shadow: #999999 0px 4px 8px 0; -webkit-box-shadow: #999999 0px 4px 8px 0; -o-box-shadow: #999999 0px 4px 8px 0; box-shadow: #999999 0px 4px 8px 0; background-color: #123652; overflow: hidden; *zoom: 1; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #333333), color-stop(100%, #123652)); background-image: -moz-linear-gradient(top, #123652 0%, #000000 100%); background-image: linear-gradient(top, #123652 0%, #000000 100%); border-top: 1px solid black; height: 45px; left: 0; padding: 0; position: fixed; top: 0; width: 100%; z-index: 1000; }
body > header img { border: 0; }
body > header > .container { margin: 0 auto; max-width: 900px; }
body > header > .container > a { float: left; border-right: 1px solid black; padding: 7.5px 20px 7.5px 30px; }
body > header > .container > a img { display: block; height: 30px; width: 128px; }
body > header nav { float: left; border-left: 1px solid #323232; padding: 0 0 0 20px; }
body > header nav a { padding-right: 15px; border-right: 1px solid black; color: #ffffff; display: block; float: left; font-family: "Helvetica Neue", sans-serif; font-size: 12px; font-weight: bold; line-height: 45px; margin: 0 10px; text-decoration: none; text-shadow: black 0px 1px 1px; }
body > header nav a:first-child { margin-left: 0; }
body > header nav a:hover { color: white; text-decoration: none; }
body > header a.icon { border: 0; padding: 0 5px 5px 0; display: block; height: 30px; width: 30px; }
body > footer { padding: 10px; max-width: 840px; margin: 20px auto; color: #777777; position: relative; font-size: 11px; }
body > footer a { color: #444444; }
body > footer #rights { display: none; }
body > pre { font-family: monospace; }

h1.banner { display: none; }

.text { -moz-box-shadow: #cccccc 0px 0px 10px 0; -webkit-box-shadow: #cccccc 0px 0px 10px 0; -o-box-shadow: #cccccc 0px 0px 10px 0; box-shadow: #cccccc 0px 0px 10px 0; overflow: hidden; *zoom: 1; background-color: #fcfcfc; color: #333333; margin: 0 auto; max-width: 840px; padding: 30px; }
.text a { color: #D02B55; text-shadow: #f0f0f0 1px 1px 0px; }
.text a:hover { color: #0099ff; }
.text p { margin: 5px 0px; }
.text strong { font-weight: bold; }
.text em { font-style: italic; }
.text sup { line-height: 100%; vertical-align: super; font-size: 70%; }
.text .math { font-family: serif; font-size: 13px; }
.text pre code { display: inline-block; padding: 15px; border: 1px solid #c9c9c9; margin: 10px 0; background-color: #fefefe; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }
.text h1:first-child { margin-top: 0; }
.text .overview { color: #111111; font-weight: normal; text-align: justify; background: #e9e9f3; border: 1px solid #C6E2EE; padding: 10px 20px; margin: 15px 0; }

.about table thead th { font-weight: bold; border-bottom: 1px solid #c6c6c6; padding: 2px 6px; }
.about table td span { display: block; }
.about table td { padding: 5px 6px 10px 6px; vertical-align: top; border-bottom: 1px solid #e6e6e6; }
.about #positions ul, .text #interests ul { list-style: none; color: #224499; }
.about #positions ul li, .text #interests ul li { border-bottom: 1px dashed #e6e6e6; font-size: 1.25em; margin-top: 10px; }
.about #positions ul li span, .text #interests ul li span { margin-left: 24px; color: #666666; font-weight: normal; font-size: 0.8em; clear: both; display: block; }
.about #map { height: 400px; width: 580px; }
.about article:first-child { border-bottom: 2px dashed #c6c6c6; }

.portfolio dl * { padding: 0 12px 0 66px; }
.portfolio dl dt { border-top: 1px dashed #c6c6c6; }
.portfolio dl dt { font-size: 18px; font-weight: bolder; margin: 0 0 6px 0; padding: 12px 0 0 0; }
.portfolio dl dd { line-height: 1.8em; }
.portfolio dl dd.keywords { font-weight: bolder; font-size: 12px; font-style: italic; color: #9696a6; }
.portfolio dl dd.description { font-family: Georgia, Times, serif; font-weight: normal; min-height: 64px; }
.portfolio #contributions #http-types { background: url(/images/haskell.png) no-repeat top left; }
.portfolio #opensource #twitter4r { background: url(/images/twitter4r.png) no-repeat top left; }
.portfolio #opensource #rebar-templates,
.portfolio #opensource #mos_sys_util { background: url(/images/erlang.gif) no-repeat top left; }
.portfolio #opensource #metafusion-crypto { background: url(/images/ruby.png) no-repeat top left; }


.post h1 small {
  font-size: 0.75em;
  display: block;
  font-style: italic;
}
.post h1 span.description {
  font-size: 0.5em;
  display: none;
}
.post ul li strong {
  display: block;
}
.post ul li span code {
  display: block;
}
.post.sidebar aside {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}

.post.sidebar aside .share-buttons li {
  list-style: none;
  display: block;
  margin: 1.5em 2em;
  padding: 0;
}

.post.sidebar aside .share-buttons li.reddit,
.post.sidebar aside .share-buttons li.linked {
  margin: 0.5em 2em;
}

.post.sidebar section {
  float: right;
  width: 75%;
  padding: 0;
  margin: 0;
}

.contact dl { display: block; }
.contact dl * { padding: 0 12px 0 66px; }
.contact dl dt { border-top: 1px dashed #c6c6c6; }
.contact dl dt { font-size: 18px; font-weight: bolder; margin: 0 0 6px 0; padding: 12px 0 0 0; }
.contact dl dd { line-height: 1.8em; }

.talks .conference {
  margin: 15px 32px 0 0;
  display: block;
  font-weight: bolder;
  padding: 0.25em 64px;
}

.talks .title {
  display: block;
  clear: both;
  font-weight: normal;
  padding: 0.5em 64px;
}

.talks li {
  border-bottom: 1px dashed #999;
  padding: 0.5em;
  margin: 0 64px 0 0;
  list-style: none;
}

.talks li.talk {
  background: url(/images/flipchart.jpg) top left no-repeat;
}

.favorites dl { display: block; }
.favorites dl * { padding: 0 12px 0 36px; }
.favorites dl dt { border-top: 1px dashed #c6c6c6; }
.favorites dl dt { font-size: 14px; font-weight: bolder; margin: 0 0 6px 0; padding: 12px 0 0 0; }
.favorites dl dd { line-height: 1.8em; }
.favorites dl dd.author { font-weight: bolder; font-size: 11px; font-style: italic; color: #9696a6; }
.favorites dl dd.description { font-family: Georgia, Times, serif; font-weight: normal; }
.favorites dl#blogs dt { background: url(/images/rss.png) no-repeat 5px 5px; }


.columns { overflow: hidden; *zoom: 1; }
.columns > * { float: left; }
.columns > *:first-child { border-right: 1px solid #c9c9c9; }
.columns > *:first-child > * { margin-right: 20px !important; }
.columns > *:last-child { border-left: 1px solid #c9c9c9; left: -1px; position: relative; }
.columns > *:last-child > * { margin-left: 20px; }
.columns .columns > section { width: 49%; margin-top: 15px; border-top: 1px solid #c9c9c9; padding-top: 15px; }
.columns .columns > section h2 { font-weight: bold; }
.columns.sidebar > section { width: 70%; }
.columns.sidebar > aside { width: 29.5%; min-height: 200px; }
.columns.sidebar .columns { margin-left: 0 !important; margin-right: 0 !important; }
.sidebar #subnav { font-size: 1.25em; line-height: 1.75em; margin: 0 0; list-style: none; }

.home h1:first-child { display: none; }
.home section h2, .home section p { text-align: justify; margin-right: 30px; }
.home > section > p { margin-top: 20px; }
.home section h2:first-child { font-size: 20px; line-height: 26px; font-weight: 300; margin-top: 0; }
.home section h2:first-child strong { font-weight: bold; }
.home aside { font-size: 11.5px; line-height: 15px; }
.home aside a { color: #666666; }
.home aside h2:first-child { margin-top: 0; }

article > p, article ul { margin: 7px 0; }
article > ul { list-style-type: disc; margin-left: 25px; }
article code { font-size: 12px; }
article ol { list-style-type: decimal; margin-left: 25px; }
article ol li { margin: 4px 0; }
article ol ol { list-style-type: lower-alpha; }
article aside { border-left: 1px solid #dfdfdf; float: right; margin: 0 0 15px 20px; padding: 0 0 0 20px; }
article aside > *:first-child { margin-top: 0; }
article aside h2 { font-size: 16px; }
article table { margin: 10px 0; }
article table tr td { vertical-align: top; padding: 6px 10px; border-bottom: 1px solid #dddddd; }
article table tr:last-child td { border-bottom-width: 0; }
article table tr.current { background-color: #feffe8; }
article table.versions td:first-child { font-size: 22px; line-height: 22px; }

@media (min-width: 460px) {
  body { padding: 0; }
  body > header { height: auto; padding: 0; position: relative; }
  body > header > .container { display: table; margin: 0; max-width: none; position: relative; width: 100%; }
  body > header > .container > a { display: table-cell; float: none; height: 30px; overflow: hidden; padding: 5px 0; position: relative; width: 46px; }
  body > header > .container > a img { display: none; }
  body > header nav { display: table-cell; padding: 5px 0 5px 8px; float: none; vertical-align: middle; border-left: 1px solid #323232; position: relative; }
  body > header nav a { font-size: 12px; margin: 0 4px 0 0; display: inline; height: auto; line-height: 16px; }
  body > footer { background-image: none; line-height: 22px; margin: 10px 0; padding: 2px 8px; }
  .text { padding: 15px 10px; }

  .post.sidebar aside {
    display: block;
    padding: 0;
    margin: 0;
  }

  .post.sidebar aside .share-buttons li {
    list-style: none;
    display: block;
    margin: 0em 0.5em;
    padding: 0;
  }

  .post.sidebar aside .share-buttons li.reddit,
  .post.sidebar aside .share-buttons li.linked {
    margin: 0em 1em;
  }

  .post.sidebar section {
    display: block;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 960px) {
}

@media screen and (max-device-width: 480px) {
  body { padding: 0; }
  body > header { height: auto; padding: 0; position: relative; }
  body > header > .container { display: table; margin: 0; max-width: none; position: relative; width: 100%; }
  body > header > .container > a { display: table-cell; float: none; height: 30px; overflow: hidden; padding: 5px 0; position: relative; width: 46px; }
  body > header > .container > a img { display: none; }
  body > header nav { display: table-cell; padding: 5px 0 5px 8px; float: none; vertical-align: middle; border-left: 1px solid #323232; position: relative; }
  body > header nav a { font-size: 12px; margin: 0 4px 0 0; display: inline; height: auto; line-height: 16px; }
  body > footer { background-image: none; line-height: 22px; margin: 10px 0; padding: 2px 8px; }
  .text { padding: 15px 10px; }

  .post.sidebar aside {
    display: none;
    padding: 0;
    margin: 0;
  }

  .post.sidebar aside .share-buttons li {
    list-style: none;
    display: block;
    margin: 0em 0.5em;
    padding: 0;
  }

  .post.sidebar aside .share-buttons li.reddit,
  .post.sidebar aside .share-buttons li.linked {
    margin: 0em 1.5em;
  }

  .post.sidebar section {
    display: block;
    padding: 0;
    margin: 0;
  }

}

#buzz { text-align: right; }
#buzz h4 { font-weight: bold; }
#buzz h4, #buzz .twitter ul { text-align: left; clear: both; }
#buzz h4 span { display: block; font-size: 0.65em; font-weight: normal; margin: 0; padding: 0 0 0 8px; background: transparent url(/images/link.png) no-repeat left; }
#buzz .github table { width: 85%; margin: 0; padding: 0 0 20px 32px; font-size: 1.25em; }
#buzz .github table tr { border-bottom: 1px solid #e0e0e0; line-height: 1.75em; }
#buzz .github table td { text-align: left; }
#buzz .twitter ul { margin: 0; }
#buzz .twitter li { margin: 0 0 8px 0; padding-left: 34px; position: relative; min-height: 26px; }
#buzz .twitter li a:first-child { -moz-box-shadow: #bbbbbb 0px 0px 3px 0; -webkit-box-shadow: #bbbbbb 0px 0px 3px 0; -o-box-shadow: #bbbbbb 0px 0px 3px 0; box-shadow: #bbbbbb 0px 0px 3px 0; display: block; height: 26px; left: 0; position: absolute; top: 3px; width: 26px; }
#buzz .twitter li a:first-child img { height: 26px; width: 26px; }
#buzz .twitter li .user { color: #0066ff; }
#buzz .twitter li .hashtag { color: #aa0066; }
